<a href="https://colab.research.google.com/github/MKrishnan29/GithubWorkshop/blob/master/salary_linear_regression_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the required packages

import pandas as pd

In [4]:
df = pd.read_csv('/data.csv') ## reading the file and storing in data frame df

In [5]:
df.head()  # default 5 records displayed

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
df.shape  # displays 30 rows and 2 columns

(30, 2)

In [7]:
# independent variable - predictor -> helps to predict dependent variable -- independent can be mulitple 
# yearsExperience is independent variable --> x

# dependent variable - response - > predict from model goes into dependent variable (salary) 
## --> dependent can be only one --> Sakary --> Y

In [8]:
# prepare the variables x & y

x = pd.DataFrame(df['YearsExperience'])