<a href="https://colab.research.google.com/github/MKrishnan29/GithubWorkshop/blob/master/salary_linear_regression_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the required packages
# task1 Load the dataset using pandas
import pandas as pd

In [4]:
df = pd.read_csv('/data.csv') ## reading the file and storing in data frame df

In [5]:
df.head()  # default 5 records displayed

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
df.shape  # displays 30 rows and 2 columns

(30, 2)

In [7]:
# independent variable - predictor -> helps to predict dependent variable -- independent can be mulitple 
# yearsExperience is independent variable --> x

# dependent variable - response - > predict from model goes into dependent variable (salary) 
## --> dependent can be only one --> Sakary --> Y

In [8]:
# prepare the variables x & y
# Task2 Extract data fromYearsExperience column is a variable named X

x = pd.DataFrame(df['YearsExperience'])

In [13]:
x.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [16]:
# Task 3 - Extract data from salary column is a variable named Y
y = pd.DataFrame(df['Salary'])

In [17]:
y.head()

    Salary
0  39343.0
1  46205.0
2  37731.0
3  43525.0
4  39891.0

In [18]:
y.shape

(30, 1)

In [20]:
## task 5
from sklearn.model_selection import train_test_split

In [23]:
# Task4 - Divide the dataset into two parts for training and testing in 66% and 33% proportion
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size = 0.33, random_state = 1)
##x_train, x_test,y_train, y_test = train_test_split(x,y,train_size = 0.66) ## only either train_size or test_size should be set

In [25]:
x_train.head()

    YearsExperience
23              8.2
4               2.2
2               1.5
25              9.0
6               3.0

In [26]:
x_train.shape

(20, 1)

In [27]:
x_test.shape

(10, 1)

In [28]:
y.shape

(30, 1)

In [29]:
y_train.shape

(20, 1)

In [30]:
y_test.shape

(10, 1)

In [36]:
l_r.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
#task 5 creating and training my model, Create and train LinearRegression Model on training set
from sklearn.linear_model import LinearRegression ## import model

In [34]:
l_r = LinearRegression() ## creating my model on top of linear regression

In [38]:
x_train.head()

    YearsExperience
23              8.2
4               2.2
2               1.5
25              9.0
6               3.0

In [39]:
y_train.head()

      Salary
23  113812.0
4    39891.0
2    37731.0
25  105582.0
6    60150.0

In [40]:
l_r.fit(x_train,y_train) ## training the model on top of training data set

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
x_test

    YearsExperience
17              5.3
21              7.1
10              3.9
19              6.0
14              4.5
20              6.8
26              9.5
3               2.0
24              8.7
22              7.9

In [44]:
# Task 6 Make predictions based on the testing set using the trained model
# Making Predictions
y_pred = l_r.predict(x_test)

In [45]:
y_pred ## predicted values for x_test data

array([[ 74675.37776747],
       [ 91160.02832519],
       [ 61853.98288925],
       [ 81086.07520659],
       [ 67348.86640849],
       [ 88412.58656557],
       [113139.56240215],
       [ 44453.51841166],
       [105813.05104316],
       [ 98486.53968418]])

In [46]:
y_test

      Salary
17   83088.0
21   98273.0
10   63218.0
19   93940.0
14   61111.0
20   91738.0
26  116969.0
3    43525.0
24  109431.0
22  101302.0

In [47]:
## Task 7 - Check the performance by calculating the r2 score of the model

# R2 Score ( -1 -> 1 is high efficiency, negative side low efficieny)

from sklearn.metrics import r2_score

In [48]:
r2_score(y_test,y_pred)

0.9240850478446321

In [49]:
print('Co-efficient of determination or r2 Score:{}'.format(r2_score(y_test,y_pred)))

Co-efficient of determination or r2 Score:0.9240850478446321

In [50]:
## efficiency of model is 92.4%